/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./Assets/Fonts/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./Assets/Fonts/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./Assets/Fonts/CentraNo2-Book.ttf');
	font-weight: 400;
}



/************ Default Css ************/
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

/* body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 ;
  color: #fff ;
  font-family: 'Centra', sans-serif ;
} */

/* h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
} */



/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
}
/* .banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 25px;
  display: inline-block;
  margin-top: 70px;
} */

.banner .mainline{
  font-size:100px ; 
  font-weight:900 ;
  line-height: 100px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(./Assets/Img/back.png) ;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

/* .banner img {
  animation: updown 3s linear infinite;
  margin-bottom: 500px;
  margin-top: -63px;
} */


@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}





